body {
  background-color: #343a40;
}

.banner {
  background-color: #262a2e;
}

body {
  background-color: #343a40;
}

.banner h1 {
  color: #fff;
}

.bg-secondary {
  background-color: #e9ecef !important;
}


.bg-dark-text-light {
  background-color: #343a40;
  color: #fff;
  padding: 1rem;
}

.main-content {
  background-color: #343a40;
  color: #fff;
}

#actualDate {
  text-decoration: underline;
}

#map {
  height: 60vh; 
}

.modal-content {
  border: 2px solid #ffffff;
}

.modal-header {
  background-color: #343a40; 
  color: #ffffff; 
  border-bottom: 1px solid #ffffff;
}

.modal-body {
  background-color: #343a40; 
  color: #ffffff;
}

.large-rectangle {
  width: 100%; 
  height: 480px; 
  background-color: rgb(100, 99, 99); 
  border: 1px solid rgb(100, 99, 99); 
  border-radius: 10px; 
  padding: 20px; 
  text-align: center; 
  margin-bottom: 20px; 
}

.large-rectangle p {
  font-size: 30px;
  color: #f4efef;
  margin-top: 200px; 
  font-weight: bold;
}
